/* /////////////////////////////////// general styles ///////////////////////*/

:root {
    font-size:                  10px;
}

@media (min-width: 1080px) and (max-width: 1919px) {
    :root { font-size: 6px; }
}

body {
    font-family:                'Gilam', sans-serif;
    background-color:           #171717;
    color:                      white;
    padding-bottom:             23.9rem;
}

/* /////////////////////////////////// header ///////////////////////////////*/

.container-header {
    position:                   sticky;
    top:                        0;
    z-index:                    1;
    background-color:           #171717;
    min-width:                  max-content;
}

.header {
    display:                    flex;
    justify-content:            space-between;
    align-items:                center;    
    width:                      100%;
    padding:                    3.7rem 0;
}

.logo {
    display:                    inline-block;
    width:                      21.6rem;
}

.header-link-callback {
    font-family:                'Circe', sans-serif;
    font-size:                  1.8rem;
    line-height:                1.66;
    color:                      #E4B564;
    border:                     1px solid #E4B564;
    padding:                    1rem 2.5rem 1rem 4.9rem;
    background-image:           url(../img/handset.png);
    background-repeat:          no-repeat;
    background-size:            7%;
    background-position:        11%;
}

/* /////////////////////////////////// common styles for sections ///////////*/

section {
    background-size:            100% 100%;
    background-position:        center center;
    background-attachment:      fixed;
}

.container-section-content {
    max-width:                  146rem;
    margin:                     0 auto;
}

h2.section-title {
    font-weight:                700;
    font-size:                  5rem;
    text-shadow:                1px 1px 2px black;
}

p.section-content-text {
    font-weight:                700;
    font-size:                  2rem;
    line-height:                1.4;
    margin:                     4rem 0;
    text-shadow:                1px 1px 2px black;
}

/* /////////////////////////////////// services section /////////////////////*/

section.services {
    padding-top:                8.3rem;
    padding-bottom:             8rem;
    background-image:           url(../img/header-bg.jpeg);
}

.wrapper-grid {
    display:                    grid;
    width:                      100%;
    height:                     96.4rem;
    grid-template-columns:      repeat(6, 1fr);
    grid-template-rows:         1fr 1fr;
    gap:                        2.7rem 3rem;
    opacity:                    0.9;
    text-shadow:                1px 1px 2px black;
}

.grid-element-service-type {
    display:                    flex;
    grid-column:                span 2;
    font-size:                  2rem;
    font-weight:                700;
    line-height:                1.4;
    justify-content:            center;
    align-items:                center;
    text-align:                 center;
    padding:                    0 4.4rem;
}

.grid-element-service-type:nth-of-type(1) {
    background:                 #634F2C;
}

.grid-element-service-type:nth-of-type(2) {
    background:                 #B4A385;
}

.grid-element-service-type:nth-of-type(3) {
    background:                 #E4B564;
}

.grid-element-service-type:nth-of-type(4) {
    background:                 #635A4A;
    grid-column:                span 3;
}

.grid-element-service-type:nth-of-type(5) {
    background:                 #B08C4D;
    grid-column:                span 3;    
}

/* /////////////////////////////////// machinery section ////////////////////*/

section.machinery {
    padding-top:                8rem;
    padding-bottom:             19rem;
    background-image:           url(../img/build.jpg);
}

.flex-list-machinery {
    display:                    flex;
    flex-direction:             column;
    flex-wrap:                  wrap;
    align-items:                center;
    width:                      100%;
    height:                     90rem;
    margin-top:                 9.4rem;
    gap:                        2.6rem 3rem;
    opacity:                    0.9;
    text-shadow:                1px 1px 2px black;    
}

.machinery-type {
    width:                      32%;
    font-size:                  2rem;
    line-height:                1.25;
    padding:                    5rem;    
}

.machinery-type:nth-of-type(1) {
    height:                     31.3rem;
    background:                 #0E0E0E;
}

.machinery-type:nth-of-type(2) {
    height:                     56rem;
    background-color:           #1F1F1F;
    font-weight:                500;
}

.machinery-type:nth-of-type(3) {
    height:                     43.9rem;
    background-color:           #242424;
    margin-bottom:              0.7rem;
}

.machinery-type:nth-of-type(4) {
    height:                     40.5rem;
    background-color:           #E4B564;
    color:                      black;
    font-weight:                500;
}

.machinery-type:nth-of-type(5) {
    height:                     25.5rem;
    background-color:           #1F1F1F;
    font-weight:                500;
}

.machinery-type:nth-of-type(6) {
    height:                     31.3rem;
    background:                 #0E0E0E;
    font-weight:                500;
}

.machinery-type:nth-of-type(7) {
    height:                     27.7rem;
    background-color:           #0A0909;
    font-weight:                700;
    opacity:                    0.85;
}

.machinery-type-model {
    font-weight:                700;
}

.machinery-type:nth-of-type(6)
.machinery-type-model {
    font-weight:                500;
}

/* /////////////////////////////////// clients section //////////////////////*/

section.clients {
    padding-top:                12rem;
    padding-bottom:             12rem;
    background-color:           #0E0E0E;
    background-image:           url(../img/parallax-bg.jpeg);
}

section.clients .header-link-callback {
    background-color:           #171717;
}

.wrapper-grid-clients-list {
    display:                    grid;
    margin-top:                 2.4rem;
    width:                      100%;
    grid-template-columns:      repeat(3, 1fr);
    opacity:                    0.9;
}

.clients-item {
    display:                    flex;
    height:                     39rem;
    background-color:           #B08C4D;
    align-items:                center;
    justify-content:            center;
}

.clients-item:first-of-type,
.clients-item:last-of-type {
    background:                 #634F2C;
}

.clients-item:nth-of-type(2) {
    background:                 rgb(220, 196, 155);
    flex-direction:             column;
}

.clients-item:nth-of-type(3) {
    background:                 #E4B564;
}

.clients-item:nth-of-type(4) {
    background:                 #635A4A;
}

.clients-item:nth-of-type(5) {
    background:                 #B08C4D;
}

.clients-item:first-of-type img, 
.clients-item:last-of-type img {
    width:                      18.5rem;
}

.clients-item:nth-of-type(2) img {
    width:                      6.2rem;
}

.clients-item:nth-of-type(2) img:nth-of-type(2) {
    width:                      13.9rem;
}

.clients-item:nth-of-type(3) img,
.clients-item:nth-of-type(4) img {
    width:                      19rem;
}

.clients-item:nth-of-type(5) img {
    width:                      11.9rem;
}

.clients .clients-item-text {
    font-size:                  2.2rem;
    line-height:                1.27;
    text-align:                 center;
    text-shadow:                1px 1px 2px black;
}

.clients-item > .clients-item-text {
    font-weight:                600;
}

/* ///////////////////////////////////////////////////////////////////////////// */

