  @font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    src:    local("Gilam"),
            url("../fonts/Gilam/Non-commercial/WEB/Gilam-Trial-Regular.woff2"),
            url("../fonts/Gilam/Non-commercial/WEB/Gilam-Trial-Regular.woff");
  }

 @font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    src:    local("Gilam"),
            url("../fonts/Gilam/Non-commercial/WEB/Gilam-Trial-SemiBold.woff2"),
            url("../fonts/Gilam/Non-commercial/WEB/Gilam-Trial-SemiBold.woff");
  }
  
  @font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    src:    local("Gilam"),
            url("../fonts/Gilam/Non-commercial/WEB/Gilam-Trial-Bold.woff2"),
            url("../fonts/Gilam/Non-commercial/WEB/Gilam-Trial-Bold.woff");
  }

  @font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    src:    local("Circe"),
            url("../fonts/Circe/CRC55.otf");
  }

