@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,400;0,700;1,400;1,600;1,700&display=swap');

:root {
    font-size:                  10px;
    --rosario-700-ital:         italic bold 1.8rem Rosario, serif;
    --rosario-700-norm:         bold 1.8rem Rosario, serif;
}

html {
    overflow-anchor:            none;
  }

* {
    margin:                     0;
    padding:                    0;
    box-sizing:                 border-box;
}

body {
    font:                       var(--rosario-700-ital);
}

a {
    text-decoration:            none;
}

li {
    list-style-type:            none;
}

/* /////////////////////////////////////////// header ///////////////////////////////////////////*/

header {
    height:                     12vh;
    background:                 black;
    display:                    flex;
    justify-content:            space-between;
    align-items:                center;
    position:                   sticky;
    top:                        0;
    z-index:                    2;
}

header img {
    height:                     100%;
    background-color:           white;
}

.nav-link {
    color:                      white;
    font:                       var(--rosario-700-ital);
    font-size:                  1.8rem;    
}

nav {
    display:                    inline-block;
    width:                      60%;
    position:                   sticky;
    top:                        0;
}

nav > ul {
   display:                     flex;
   flex-wrap:                   wrap;
   list-style-type:             none;
   justify-content:             space-around; 
   width:                       100%;
}

nav > ul > li {
    padding-right:              .8rem;
}

nav a {
    font:                       var(--rosario-700-ital);
}
/* /////////////////////////////////////////// gallery //////////////////////////////////////////*/

.gallery {
    min-height:                 88vh;
    display:                    flex;
    justify-content:            center;
    align-items:                center;
    text-align:                 center;
}

.center-right, .center-left {
    display:                    flex;
    flex-direction:             column;
    width:                      22%;
}

.gallery img {
    margin:                     1rem;
}

/* ///////////////////////////////// animation-gallery //////////////////////////////////////////*/

.gallery .right-img {
    width:                      17%;
    position:                   relative;
    animation:                  showRight 2s;
    animation-delay:            2s;
    animation-fill-mode:        backwards;
}

@keyframes showRight {
0%                              {right:-100%;}
100%                            {right:0;}
}

.gallery .left-img {
    width:                      17%;
    position:                   relative;
    animation:                  showLeft 2s;
    animation-delay:            2s;
    animation-fill-mode:        backwards;
}

@keyframes showLeft {
from                            {left:-100%;}
to                              {left:0;}
} 


.gallery .center-left {
    position:                   relative;
    animation:                  showLeft2 2s;
}

@keyframes showLeft2 {
from                            {left:-100%;}
to                              {left:0;}
} 

.gallery .center-right {
    position:                   relative;
    animation:                  showRight2 2s;
}

@keyframes showRight2 {
from                            {right:-100%;}
to                              {right:0;}
}

/* ////////////////////////////////////////services /////////////////////////////////////////////*/

.services {
    display:                    flex;
    flex-direction:             row-reverse;
    justify-content:            space-between;
    height:                     100vh;
}

.services-types {
    position:                   relative;
    width:                      54%;
    height:                     80%;
    margin:                     auto auto;
    padding-left:               4rem;
    box-sizing:                 content-box;
}

.services-types figure {
    display:                    inline-block;
    width:                      33%;
    text-align:                 center;
}

.services-types figure > img {
    width:                      76%;
}

.services-types figcaption {
    font-size:                  2.4rem;
}


.services-bg {
    width:                      40%;
    background-image:           url(../img/second-section/barber.png);
    background-repeat:          round;
    color:                      white;
}

/* /////////////////////////////// animation-services ///////////////////////////////////////////*/

.services-types figure  {
    position:                   absolute;
    animation-delay:            1s;
}

.services-types figure:nth-of-type(1) {
    left:                       7%;
    top:                        6%;
    animation:                  round1 5.2s ease-in-out infinite;
}

.services-types figure:nth-of-type(2) {
    left:                       55%;
    top:                        6%;
    animation:                  round2 5.2s ease-in-out infinite;
}

.services-types figure:nth-of-type(3) {
    left:                       7%;
    top:                        54%;
    animation:                  round3 5.2s ease-in-out infinite;
}

.services-types figure:nth-of-type(4) {
    left:                       55%;
    top:                        54%;
    animation:                  round4 5.2s ease-in-out infinite;
}

.services-types button {
    position:                   absolute;
    left:                       90%;
    top:                        3%;
    border:                     none;
    padding:                    0.6rem;
    font:                       var(--rosario-700-ital);
    font-size:                  1.6rem;
    border-radius:              15px;
    cursor:                     pointer;
    opacity:                    0.5;
}

.services-types > button:hover {
    box-shadow:                 0rem 0rem .7rem 0.2rem black;
    scale:                      1.05;
}

.services-types > button:active,
.services-types > button:focus {
    box-shadow:                 0 0 .7rem 0.2rem black;
    scale:                      1.05;
}

.services-types > button:active ~ figure {
    animation-play-state:       paused;
}

.services-types > button:focus ~ figure {
    animation-play-state:       paused;
}


@keyframes round1 {
    0%                          {top:6%; left:7%;}
    12.5%                       {top:0;}
    25%                         {top:6%; left:55%;} 
    37.5%                       {left:61%;}
    50%                         {top:54%; left:55%;}
    62.5%                       {top:59%;}
    75%                         {top:54%; left:7%;} 
    87.5%                       {left:3%;}
    100%                        {top:6%; left:7%;}
}

@keyframes round2 {
    0%                          {top:6%; left:55%;}
    12.5%                       {left:61%;}
    25%                         {top:54%; left:55%;} 
    37.5%                       {top:59%;}
    50%                         {top:54%; left:7%;} 
    62.5%                       {left:3%;} 
    75%                         {top:6%; left:7%;} 
    87.5%                       {top:0;}
    100%                        {top:6%; left:55%;}
}

@keyframes round3 {
    0%                          {top:54%; left:7%;}
    12.5%                       {left:3%;}
    25%                         {top:6%; left:7%;} 
    37.5%                       {top:0;}
    50%                         {top:6%; left:55%;} 
    62.5%                       {left:61%;} 
    75%                         {top:54%; left:55%;} 
    87.5%                       {top:59%;}
    100%                        {top:54%; left:7%;}
}

@keyframes round4 {
    0%                          {top:54%; left:55%;}
    12.5%                       {top:59%;}
    25%                         {top:54%; left:7%;} 
    37.5%                       {left:3%;}
    50%                         {top:6%; left:7%;} 
    62.5%                       {top:0;} 
    75%                         {top:6%; left:55%;} 
    87.5%                       {left:61%;}
    100%                        {top:54%; left:55%;}
} 

/* //////////////////////////////////////// team ////////////////////////////////////////////////*/

.team {
    height:                     100vh;
}

.team h1 {
    font:                       var(--rosario-700-norm);
    font-size:                  4.8rem;
    line-height:                1.2;
    text-align:                 center;
    margin-top:                 2rem;
    margin-bottom:              3rem;
}

.cards {
    margin:                     0 auto;
    width:                      96%;
    display:                    flex;
    flex-direction:             row-reverse;
    justify-content:            space-evenly;
}

.cards img {
    width:                      18%;
    border-radius:              20px;
    transition:                 1s;
}

/* ///////////////////////////////// animation-team /////////////////////////////////////////////*/


.cards:hover img {
    filter:                     brightness(20%);
}

.cards img:hover {
    filter:                     brightness(100%);
    scale:                      1.05;
}

/* ///////////////////////////////// contact ////////////////////////////////////////////////////*/


.contact {
    margin-bottom:              2rem;
    height:                     100vh;
}

.contact h2 {
    font-size:                  3.2rem;
    text-align:                 center;
    margin-bottom:              1.6rem;
}

.contact-wrapper-form-ifraime {
    margin:                     0 auto;
    display:                    flex;
    justify-content:            space-between;
    width:                      90%;
}

/* ///////////////////////////////// contact-form ///////////////////////////////////////////////*/

.contact-wrapper-form {
    height:                     100%;
    width:                      55%;
    overflow:                   auto;
}

.form-grid {
    display:                    grid;
    grid-template-columns:      repeat(2, 1fr);
    grid-template-rows:         1fr 2fr;
    grid-column-gap:            5%;
    grid-row-gap:               3rem;
    background-color:           #E5E5E5;
    width:                      100%; 
    padding:                    3rem 2.6rem;
}

.form-grid textarea {
    grid-area:                  2 / 1 / 8 / 3;
    resize:                     none;
    font-size:                  1.8rem;
    padding:                    1rem;
    overflow:                   auto;
    border:                     none;
}

.form-grid input {
    font-size:                  1.8rem;
    padding:                    1rem;
    border:                     none;
}

/* ///////////////////////////////// contact-iframe /////////////////////////////////////////////*/

.contact-wrapper-form-ifraime iframe  {
    margin-top:                 1rem;
    width:                      40%;
}

/* ///////////////////////////////// contact-footer /////////////////////////////////////////////*/

.contact-footer {
    width:                      90%;
    margin:                     0 auto;
    font-size:                  1.5rem;
    margin-top:                 1rem;
    font-weight:                600;
    background-color:           #E5E5E5;
}

.contact-footer address {
    display:                    flex;
    justify-content:            space-around;
    align-items:                flex-start;
    width:                      100%;
    padding:                    3rem 0;
}

.contact-footer address ul {
    width:                      30%;
    text-align:                 center;
    font-weight:                700;
    font-style:                 normal; 
}

.contact-footer address ul li {
    font-weight:                600;
    font-style:                 italic; 
}

.contact-footer address a {
    color:                      #000;
}

.contact-footer address span {
    font:                       var(--rosario-700-norm)
}

.contact-footer address ul:nth-of-type(2) > li:first-child {
    padding-top: 1.6rem;
}

.contact-footer address ul:nth-of-type(3) > li:first-child {
    background: url(../img/footer/insta.png) 35% 50%/4% no-repeat;
}

.contact-footer address ul:nth-of-type(3) > li:nth-of-type(2) {
    background: url(../img/footer/facebook.png) 34.8% 50%/5.7% no-repeat;
}

.contact-footer address ul:nth-of-type(3) > li:last-child {
    background: url(../img/footer/twitter.png) 34.8% 50%/4.4% no-repeat;
}