/* /////////////////////////////////// general styles ////////////////////// */
html {
    height:                     100%;
}

body {
    height:                     100%;
    font-family:                'Ubuntu';
    font-size:                  14px;
    color:                      #434343;
}

.container-bg {
    min-height:                 100%;
    background-image:           url(../img/bg.png);
    background-position:        50% 50%;
    background-size:            cover;
    background-repeat:          no-repeat;
    background-attachment:      fixed;
} 

a {
    transition-duration:        .5s;
}

input { 
    font-family:                inherit;
}

input::placeholder {
    color:                      #BEBEBE;
}

/* /////////////////////////////////// header ////////////////////////////// */

header {
    padding:                    18px 79px;
    background-color:           rgba(0, 0, 0, 0.45);
    box-shadow:                 0px 2px 2px rgba(0, 0, 0, 0.25);
}

nav {
    display:                    flex;
    justify-content:            space-between;
    align-items:                center;
}

.nav-list {
    display:                    flex;
    align-items:                center;
    justify-content:            center;
    gap:                        25px;
}

.logo {
    font-weight:                700;
    font-size:                  22px;
    color:                      white;
}

.header-enter-user, .welcome {
    color:                      white;
}

.welcome {
    margin-left:                27px;
    position:                   relative;
}

.welcome::before {
    content:                    "";
    width:                      1px;
    height:                     19px;
    background:                 rgba(255, 255, 255, 0.9);
    mix-blend-mode:             normal;
    opacity:                    0.5;
    position:                   absolute;
    top:                        -2px;
    left:                       -27px;
}

header a:hover {
    color:                      #3CB878;
}

.nav-list-item svg:hover path {
    fill:                       #3CB878;
    transition-duration:        .5s;
}

/* /////////////////////////////////// main //////////////////////////////// */

main {
    min-height:                 90vh;
    display:                    flex;
    align-items:                center;
    justify-content:            center;
}

form {
    margin:                     40px 0;
    width:                      444px;
    padding:                    28px 60px 35px;
    position:                   relative;
    background-color:           white;
    box-shadow:                 0 0 4px 2px rgba(246, 248, 244, 0.75);
    border-radius:              4px;
}

/* /////////////////////////////////// main-auth-via-social //////////////// */

.auth-form {
    display:                    grid;
    grid-template-columns:      160px 160px;
    grid-template-rows:         max-content minmax(max-content, 45px);
    gap:                        15px 5px;
}

.signup-text {
    font-size:                  20px;
    align-self:                 end;
}

.login-text {
    text-align:                 right;
    align-self:                 end;
}

.login-link-form {    
    color:                      #3CB878;
}

.signup-link-form::before {
    content:                    "";
    width:                      18px;
    height:                     18px;
    background-color:           #3CB878;
    position:                   absolute;
    top:                        4.8%;
    left:                       0;
}

.btn-socials {
    display:                    flex;
    box-sizing:                 border-box;
    justify-content:            center;
    align-items:                center;
    border:                     none;
    border-radius:              4px;
    position:                   relative;
    color:                      white;
    cursor:                     pointer;
}

.btn-fb {
    background-color:           #305DB8;
    transition-duration:        .5s;
}

.btn-google {
    background-color:           #DF4A32;
    transition-duration:        .5s;
}

.btn-socials span {
    margin-left:                38px;
}

.btn-socials span::before {
    content:                    "";
    width:                      1px;
    height:                     28px;
    background:                 #0A162F;
    mix-blend-mode:             normal;
    opacity:                    0.15;    
}

.btn-fb span::before {
    position:                   absolute;
    top:                        20%;
    left:                       35%;
}

.btn-google span::before {
    position:                   absolute;
    top:                        21%;
    left:                       40%;
    opacity:                    0.1;
}

/* /////////////////////////////////// hover-main-auth-via-social ////////// */

.underline {
    display:                    inline-block;
    width:                      max-content;
}

.underline::after {
    content:                    "";
    display:                    block;
    width:                      100%;
    height:                     1px;
    background-color:           #01813F;
    opacity:                    0;
    transition:                 1s;
}

.login-link-form:hover .underline::after {
    opacity:                    1;
}

.login-link-form:hover {
    color:                      #01813F;
}

.btn-fb:hover {
    background:                 #022263;
}

.btn-google:hover {
    background:                 #AB1F09;
}


/* /////////////////////////////////// main-registration-fields //////////// */

.reg-fields {
    margin-top:                 30px;
    border-top:                 1px solid #F2F2F2;
    display:                    grid;
    grid-template-columns:      1fr;
    row-gap:                    15px;
}

.reg-fields legend {
    text-align:                 center;
    margin-bottom:              12px;
}

.reg-fields legend span {
    display:                    inline-block;
    padding:                    0 3px 4px;
    color:                      #848484;
}

.reg-field {
    padding:                    14px 20px;
    color:                      inherit;
    font-size:                  inherit;
    border:                     1px solid #F2F2F2;
    border-radius:              4px;
    outline:                    none;
    box-sizing:                 border-box;
}

.reg-field:focus {
    box-shadow:                 0px 3px 8px rgba(0, 0, 0, 0.21);
}

/* /////////////////////////////////// main-checkbox /////////////////////// */

.default-checkbox {
    position:                   absolute;
    z-index:                    -1;
    opacity:                    0;
}

.default-checkbox + label {
    display:                    inline-flex;
    align-items:                center;
    user-select:                none;
}

.default-checkbox + label::before {
    content:                    '';
    display:                    inline-block;
    width:                      20px;
    height:                     20px;
    flex-shrink:                0;
    flex-grow:                  0;
    border:                     1px solid #F2F2F2;
    margin-right:               8px; 
}

.default-checkbox:checked + label::before {
    background:                 url(../img/checkbox-light.svg);
    background-repeat:          no-repeat;
    background-position:        50% 50%;
}

.default-checkbox:hover + label::before {
    background:                 url(../img/checkbox-dark.svg);
    background-repeat:          no-repeat;
    background-position:        50% 50%;
}

.terms {
    margin-top:                 12px;
}

.terms-link {
    color:                      #3CB878;
}

.terms-link {
    margin-left:                3px;
    margin-top:                 1px;
}

.terms-link:hover {
    color:                      #01813F;
}

.terms-link:hover .underline::after {
    opacity:                    1;
}

/* /////////////////////////////////// main-submit ///////////////////////// */

.btn-submit {
    margin-top:                 20px;
    display:                    block;
    width:                      100%;
    font-size:                  16px;
    padding:                    16px;
    border:                     none;
    border-radius:              4px;
    background:                 rgba(60, 184, 120, 0.8);
    color:                      white;
    transition-duration:        .5s;
}

.btn-submit:hover {
    background:                 #01813F;
    cursor:                     pointer;    
}

#theme {
    background-color:           rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    transition-duration:        .5s;
}

#theme:hover {
    color:                      #3CB878;
}