.background-img {
    position:                   fixed;
    width:                      65%;
    right:                      0;
    bottom:                     0;              
}

.wrapper-login {
    width:                      36%;
    background-color:           white;
    border:                     1px solid white;
    min-height:                 100%;
}

.register-section-login {
    width:                      63%;
    margin:                     0 auto;
}

.register-section-login > h1 {
    color:                      #42505C;
    font-weight:                700;
    font-size:                  5.4rem;
    overflow:                   hidden;
    margin:                     6rem 0 2rem 0;
}

.register-section-login > p {
    font-size:                  1.4rem;
    line-height:                1.6;
    padding-bottom:             2rem ;
    margin-bottom:              2rem;
    border-bottom:              1px dashed #D1D1D1;
}

input[placeholder="Username"] {
    margin-bottom:              0;
    border-bottom:              none;
    padding-left:               15%;
    background-image:           url(../images/user-icon-login.png);
    background-repeat:          no-repeat;
    background-position:        5% 50%;
}

input[placeholder="Password"] {
    padding-left:               15%;
    background-image:           url(../images/key.png);
    background-repeat:          no-repeat;
    background-position:        5% 50%;    
}

.register-section-login > form > a {
    display:                    inline-block;
    color:                      #4743E0;
    font-size:                  1.4rem;
    border-bottom:              1px dashed #D1D1D1;
    padding-bottom:             2rem;
    width:                      100%;
}

.button-login {
    box-sizing:                 content-box;
    width:                      30% !important;
}

.margin-login {
    margin-top:                 2rem !important;
}

.register-section-footer {
    font-size:                  14px;
    color:                      #333333;
    opacity:                    0.3;
    text-align:                 center;
    margin:                     0.5rem;
}

.to-register {
    display:                    inline-block;
    color:                      #4743E0;
    font-size:                  1.4rem;
    text-align:                 center;
    width:                      100%;
    margin:                     0.5rem 0;
    padding-bottom:             4rem;
}