.container-bg {
    background-image:           linear-gradient(21deg,#5611ec,  #dd03e4);
}

.logo {
    color:                      #3CB878;
}

.header-enter-user, .welcome {
    color:                      #3CB878;
}

header a {
    color:                      #3CB878;
}

header a:hover, .logo:hover {
    color:                      white;
}

.nav-list-item svg path {
    fill:                       #3CB878;
    transition-duration:        .5s;
}

.nav-list-item svg:hover path {
    fill:                       white;
    transition-duration:        .5s;
}

.btn-submit {
    font-family:                Georgia, 'Times New Roman', Times, serif;
    background-image:           linear-gradient(21deg,#5611ec,  #dd03e4);
    color:                      white;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    animation:                  gradient 3s linear infinite;
    background-size:            200% 200%;
    min-height:                 60px;
}

#theme:hover {
    color:                          white;
}


@keyframes gradient {
    0% {
        background-position:        0% 50%;
        background-image:           linear-gradient(21deg,#5611ec,  #dd03e4);
        font-size:                  16px;
    }
    50% {
        background-position:        100% 50%;
        font-size:                  18px;
    }
    100% {
        background-position:        0% 50%;
        background-image:           linear-gradient(21deg, #dd03e4, #5611ec);
        font-size:                  16px;
    }
}