@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    font-size:                  0.8vw;
    --fonts :                   'PT Sans', sans-serif
}
body{
    font-size:                  2rem;
    font-family:                var(--fonts);
    background-color:           #F5F5F5;
    cursor:                     url(../img/pngwing2.png);
    background-color: #353c57;
}
header{
    position:                   sticky;
    top:                        0;
    z-index:                    2;
}
.header{
    background-color:           #202846;
    display:                    flex;
    justify-content:            space-between;
    padding:                    0 3rem;
    align-items:                center;
    height:                     10vh;
}

.nav{
    min-width:                  75%;
    margin:                     0;
    padding:                    0;
    list-style:                 none;
    display:                    flex;
    justify-content:            space-between;
    align-items:                center;
    text-align:                 center;
    font-weight:                700;
}

.nav a {
    color:                      white;
    text-decoration:            none;
    cursor:                     url(../img/pngwing2.png);
    transition:                 all .2s; 
}

.nav a:hover{
    color:                      #AEAEE2;
}

.logo > img {
    width:                      9vw;
}

.logo2 {
    width:                      7vw;
}

h1{
    display:                    flex;
    height:                     15.5vh;
    background-color:           #c6c6dc;
    margin:                     0;
    align-items:                center;
    font-style:                 italic;
    font-weight:                400;
    font-size:                  150%;
    color:                      #202846;
    padding-left:               7%;
}

.wrapper {
    max-width:                  80%;
    margin:                     0 auto;
}

.accordion {
    background-color:           #E8E8E8;
    height:                     8vh;
    margin-top:                 3rem;
    margin-bottom:              3rem;
    line-height:                8vh;
    vertical-align:             middle;
    text-align:                 center;    
}

select, textarea {
    outline:                    none;
    border:                     none;
    width:                      100%;
    appearance:                 none;
    background:                 url("../img/pointer.svg") no-repeat right;
    background-position-x:      98%;
    background-size:            2%;
    text-align:                 center;
    font-size:                  90%;
}

option {
    background-color:           #E8E8E8;
}

.container-box {
    display:                    flex;
    position:                   relative;     
    justify-content:            space-evenly;
    align-items:                top;
    background-color:           rgba(0, 0, 255, 0.25);
    width:                      100%;
    margin-bottom:              2.5rem;
}

.container {
    width:                      40%;
    margin:                     2rem;
}

.container > img {
    width:                      100%;
    height:                     100%;
}

.container > h3 {
    border-bottom:              3px solid #ffffff;
    font-size:                  100%;
    font-style:                 italic;
    font-weight:                700;
    color:                      #353c57;
    padding-bottom:             .3rem;
    margin:                     0;
}

.container > p {
    display:                    flex;
    font-size:                  70%;
    color:                      #202846;
    background-color:           #D7D7DD;
    padding:                    0 3rem;
    text-align:                 center;
    margin:                     0;
    margin-top:                 1rem;
    height:                     80%;
    align-items:                center;
    cursor:                     url('../img/pngwing2.png');
}

.btn {
    position:                   absolute;
    width:                      11%;
    background-color:           aqua;
    left:                       90%;
    top:                        81%;
    text-align:                 center;
    padding:                    1rem;
    border-radius:              30%;
    text-decoration:            none;
}

.container-box > .btn > a {
    text-decoration:            none;
    font-size:                  85%;
}