@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

:root {
    font-family:                'Irish Grover', sans-serif;
}

* {
    margin:                     0;
    padding:                    0;
    text-decoration:            none;
}

html {
    background-color:           black;
    height:                     100vh;
    background-image:           url(../img/bg.jpg);
    background-repeat:          round;
}

body {
    height:                     100%;
    width:                      100%;
    max-width:                  1200px;
    background-image:           url(../img/bg.jpg);
    background-repeat:          round;
    margin:                     0 auto; 
}

.logo {
    display:                    block;
    width:                      40vw;
    height:                     25vh;
    margin:                     0 auto;
}

.wrapper {
    width:                      50vw;
    margin:                     0 auto;
}

.nav {
    display:                    flex;
    justify-content:            space-between;
}

.nav-item {
    display:                    flex;
    width:                      13vw;
    justify-content:            center;
    align-items:                center;
    background-color:           #C4C4C4;
    font-size:                  1.6vw;
    color:                      #000000;
    transition:                 0.5s;

}
.nav-item:hover {
    box-shadow:                 0 0 12px 8px rgba(246, 248, 244, 0.75);
}

.cards {
    display:                    flex;
    justify-content:            space-between;
    flex-wrap:                  wrap;
    margin-top:                 4vh;
}

.card {
    width:                      13vw;
    margin-bottom:              4vh;
}

.nav a:first-of-type:first-of-type {
    background-color:           white;
    font-weight:                600;
    box-shadow:                 0 0 12px 8px rgba(246, 248, 244, 0.75);
}

.card img {
    width: 100%;
    border-radius:              35px;
    transition:                 0.5s;
    width: 13vw;
}

.card img:hover {
    box-shadow:                 0px 0 12px 10px rgba(246, 248, 244, 0.75);
}

.video-personaje {
    width:                      30vw;
    margin-top:                 5vh;
}
